/* Шрифты */
@font-face {
  src: url(fonts/OpenSans-Regular.woff);
  font-family: OpenSans;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url(fonts/OpenSans-Bold.woff);
  font-family: OpenSansBold;
  font-weight: 700;
  font-style: normal;
}
/* Сброс настроек браузера и общие настройки*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-width: 320px;
  margin: 0;
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.46;
}
/* Ограничение по ширине */
.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/* Шапка */
.header {
  background-image: url(img/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #666666;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 7.8rem;
}

.header::after {
  content: "";
  background-color: #000000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header-container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.header-logo {
  width: 182px;
  display: block;
}

.header-menu-burger {
  display: none;
  cursor: pointer;
}

.header-menu-list {
  display: flex;
  font-family: OpenSans, sans-serif;
  font-size: 13px;
  color: #ffffff;
  list-style-type: none;
  text-transform: uppercase;
}

.header-menu-list-item:nth-child(1n + 2) {
  margin-left: 35px;
}

.header-menu-link {
  text-decoration: none;
  color: #ffffff;
}

.header-menu-link:hover {
  text-decoration: underline;
}

.header-title {
  line-height: 1.6;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  text-align: center;
  font-family: OpenSansBold, sans-serif;
  font-size: 45px;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  margin-top: 6.3rem;
  line-height: 1.7;
}


/* основной разворот */
.page {
  margin-top: 50px;
  margin-bottom: 64px;
}

.trends {
  margin-bottom: 64px;
}


/* сейчас в тренде */
.trends-title {
  line-height: 1.46;
  margin-top: 10px;
  margin-left: 2px;
  margin-bottom: 27px;
}

.trends-titles h2 {
  font-family: OpenSansBold, sans-serif;
  font-size: 20px;
  line-height: 2.08;
  color: #0f0d0e;
  text-transform: uppercase;
  text-align: center;
}

.trends-titles h2::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  background-color: #e1d9bd;
  text-align: center;
}

.trends-wrapper {
  display: flex;
  justify-content: space-between;
}

.trend-item {
  display: flex;
  position: relative;
  width: calc(25% - 3px);
  min-height: 320px;
  margin-right: 3px;
  padding: 16px 21px;
  background-color: #666666;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.trend-item::before {
  content: "";
  background-color: #000000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.trend-item:last-child {
  margin-right: 0;
}

.trend-item-garden {
  background-image: url(img/trend1.jpg);
}

.trend-item-cheese {
  background-image: url(img/trend2.jpg);
}

.trend-item-mountains {
  background-image: url(img/trend3.jpg);
}

.trend-item-lime {
  background-image: url(img/trend4.jpg);
}

.trend-item-text {
  position: relative;
  align-self: flex-end;
  box-sizing: content-box;
  padding: 7% 2% 9% 11%;
  border: 3px solid #b59f5b;
  text-align: left;
  z-index: 2;
  flex-grow: 1;
}

.article-tag-row {
  margin: 0;
  padding: 0;
  list-style: none;
}

.article-tag {
  display: inline-block;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 20px;
  text-transform: uppercase;
  font-family: OpenSansBold, sans-serif;
  font-weight: 700;
  font-size: 14px;
  font-weight: 700;
  color: #b59f5b;
  line-height: 2.86;
}

.article-tag:last-child {
  margin-right: 0;
}

.article-tag-link {
  color: inherit;
  text-decoration: none;
}

.article-tag-link:hover {
  text-decoration: underline;
}

.article-title {
  margin-top: -5px;
  margin-bottom: 0;
  display: flex;
  font-family: OpenSansBold, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
  list-style-type: none;
  text-transform: uppercase;
}

.article-title:hover {
  color: #b59f5b;
}

.article-title-link {
  color: inherit;
  text-decoration: none;
}

/* главное */

.main-aside {
  width: 1170px;
  margin-top: 63px;
  margin-left: auto;
  margin-right: auto;
  display: flex;

  justify-content: space-between;
}

.main-posts {
  width: 778px;
}

.main-post {
  display: flex;
  align-items: flex-start;
}

.main-post:nth-child(1n + 2) {
  margin-top: 60px;
}

.main-post-image {
  width: 381px;
}

.main-post-content {
  margin-left: 30px;
}

.main-post-header {
  display: block;
}

.main-post-tags {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-top: -5px;
  margin-bottom: 5px;
}

.main-post-tag {
  text-decoration: none;
  font-family: OpenSansBold, sans-serif;
  font-size: 14px;
  color: #b59f5b;
  text-transform: uppercase;
}

.main-post-tag:nth-child(-1n + 10) {
  margin-right: 19px;
}

.main-post-tag:last-child {
  margin-right: 0;
}

.main-post-tag:hover {
  text-decoration: underline;
}

.main-post-title {
  margin-block-start: 0;
}

.main-post-title-link {
  font-family: OpenSansBold, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  text-decoration: none;
  color: #0f0d0e;
  text-transform: uppercase;
  margin-top: 10px;
}

.main-post-title-link:hover {
  color: #b59f5b;
}

.main-post-date-author {
  display: flex;
  margin-top: 27px;
  margin-bottom: 15px;
}

.main-post-date {
  margin-right: 14px;
  font-family: OpenSans, sans-serif;
  font-size: 12px;
  color: #888888;
}

.main-post-author {
  font-family: OpenSansBold, sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: #000000;
}

.main-post-author:hover {
  text-decoration: underline;
}

.main-post-text {
  margin-top: 45px;
  font-family: OpenSans, sans-serif;
  line-height: 1.47;
  font-size: 15px;
  color: #0f0d0e;
}

.main-post-text p:nth-child(1n + 2) {
  margin-top: 11px;
}



/* боковой разворот */

.aside-sidebar {
  width: 272px;
  margin-left: 120px;
}

.aside-title-posts {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: OpenSansBold, sans-serif;
  color: #0f0d0e;
  font-size: 14px;
  line-height: 2.08;
  margin-top: -12px;
  margin-left: 4px;
  margin-bottom: 31px;

  text-align: center;
  text-transform: uppercase;
}

.aside-title-posts::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  background-color: #e1d9bd;
  text-align: center;
}

.aside-title-subscription {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: OpenSansBold, sans-serif;
  color: #0f0d0e;
  font-size: 14px;
  line-height: 2.08;
  margin-top: -8px;
  margin-left: -2px;
  margin-bottom: 31px;

  text-align: center;
  text-transform: uppercase;
}

.aside-title-subscription::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  background-color: #e1d9bd;
  text-align: center;
}

.aside-title-tags {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: OpenSansBold, sans-serif;
  color: #0f0d0e;
  font-size: 14px;
  line-height: 2.08;
  margin-top: -8px;
  margin-left: 4px;
  margin-bottom: 31px;

  text-align: center;
  text-transform: uppercase;
}

.aside-title-tags::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  background-color: #e1d9bd;
  text-align: center;
}

.aside-title-themes {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: OpenSansBold, sans-serif;
  color: #0f0d0e;
  font-size: 14px;
  line-height: 2.08;
  margin-top: -11px;
  margin-left: 4px;
  margin-bottom: 31px;

  text-align: center;
  text-transform: uppercase;
}

.aside-title-themes::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  background-color: #e1d9bd;
  text-align: center;
}

.aside-post {
  display: flex;
  margin-bottom: 22px;
}

.aside-post:nth-child(1n + 2) {
  margin-top: 21px;
}

.aside-post-image {
  width: 70px;
}

.aside-post-content {
  margin-left: 19px;
  margin-top: -5px;
}

.aside-post-date {
  font-family: OpenSans, sans-serif;
  font-size: 12px;
  color: #888888;
}

.aside-post-title {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 14px;
  line-height: 1.28;
  margin-top: 0;
}

.aside-post-title-link {
  font-family: OpenSansBold, sans-serif;
  font-size: 14px;
  line-height: 1.28;
  text-decoration: none;
  color: #0f0d0e;
  text-transform: uppercase;
}

.aside-post-title-link:hover {
  color: #b59f5b;
}

.aside-search {
  display: flex;
}

.aside-search-group {
  width: calc(100% - 48px);
}

.aside-search-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.aside-field-search {
  height: 48px;
  width: 100%;
  font-family: OpenSans, sans-serif;
  font-size: 13px;
  color: #a2a4a3;
  border: 0;
  background-color: #f4f7f6;
  padding-left: 19px;
  padding-right: 5px;
  cursor: text;
}

.aside-field-search:focus {
  outline: solid 2px #b59f5b;
}

.aside-search-button {
  width: 48px;
  height: 48px;
  padding: 15px;
  border: none;
  background-color: #b59f5b;
  background-image: url(svg/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
  cursor: pointer;
}

.aside-search-button:hover {
  background-color: #7c6520;
}

.aside-search-button-title {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.aside-forms-subscription {
  margin-top: 0;
}

.aside-subscription {
  display: flex;
  flex-direction: column;
  margin-top: -6px;
}

.aside-subscription-group {
  width: 100%;
  margin-bottom: 17px;
}

.aside-subscription-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.aside-field-subscription {
  height: 48px;
  width: 100%;
  font-family: OpenSans, sans-serif;
  font-size: 13px;
  color: #a2a4a3;
  border: 0;
  background-color: #f4f7f6;
  padding-left: 19px;
  padding-right: 5px;
  cursor: text;
}

.aside-field-subscription:focus {
  outline: solid 2px #b59f5b;
}

.aside-subscription-button {
  height: 48px;
  width: 100%;
  text-transform: uppercase;
  padding-left: 83px;
  padding-right: 82px;
  padding-top: 17px;
  padding-bottom: 15px;
  border: none;
  font-family: OpenSansBold, sans-serif;
  font-size: 14px;
  color: #ffffff;
  background-color: #b59f5b;
  cursor: pointer;
}

.aside-subscription-button:hover {
  background-color: #7c6520;
}

.aside-tags-items {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: left;
  margin-top: -11px;
  margin-bottom: 0;
  padding-right: 0;
}

.aside-tag-item {
  border: 3px solid #eeeeee;
  padding: 3px 14px 3px 13px;
  text-align: center;
  margin-top: 3px;
  margin-left: 3px;
}

.aside-tag-item:hover {
  border: solid 3px #b59f5b;
}

.aside-tag-link {
  text-decoration: none;
  font-family: OpenSansBold, sans-serif;
  font-size: 12px;
  color: #0f0d0e;
  text-transform: uppercase;
}

.aside-themes {
  margin-top: -20px;
}

.aside-themes-items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.aside-theme-item {
  border-bottom: 1px solid #eeeeee;
  padding-top: 14px;
  padding-bottom: 11px;
  padding-left: 2px;
}

.aside-theme-link {
  text-decoration: none;
  font-family: OpenSansBold, sans-serif;
  font-size: 14px;
  color: #000000;
  text-transform: none;
}

.aside-theme-link:hover {
  color: #b59f5b;
}

.aside-theme-amount {
  display: inline-block;
  font-family: OpenSansBold, sans-serif;
  font-size: 12px;
  vertical-align: top;
  color: #b59f5b;
  margin-left: 4px;
}

.forms-search,
.subscription,
.tags,
.themes {
  margin-top: 61px;
}

/* Изделия */

.products-title {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1.46;
  margin-top: 50px;
  margin-left: 2px;

  margin-bottom: 27px;
  text-align: center;
}

.products-titles h2 {
  font-family: OpenSansBold, sans-serif;
  font-size: 20px;
  line-height: 2.08;
  text-decoration: none;
  color: #0f0d0e;
  text-transform: uppercase;
  text-align: center;
}

.products-titles h2::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  background-color: #e1d9bd;
  text-align: center;
}

.products-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.product {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.product:last-child {
  margin-right: 0;
}

.product-image {
  width: 86%;
  margin-bottom: -37px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.product-img {
  width: 100%;
}

.product-description-wrapper {
  position: relative;
  z-index: 2;
  flex-grow: 2;
  padding: 21px;
  border: 3px solid #b59f5b;
  text-align: left;
  text-decoration: none;
}

.product-description {
  margin-bottom: 26px;
}

.product-description-title {
  margin-top: 27px;
  margin-bottom: 0;
  font-size: 20px;
  font-family: OpenSansBold, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #0f0d0e;
}

.product-description-text {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.5;
}

.highlighted-text {
  color: #b59f5b;
}

.product-description:hover .highlighted-text {
  text-decoration: underline;
}

.product-description-link {
  color: inherit;
  text-decoration: none;
}

.product-offer {
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.product-price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  font-family: OpenSansBold, sans-serif;
  font-weight: 700;
  line-height: 1;
}

.old-price {
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-decoration: line-through;
}

.new-price {
  margin: 0;
  padding: 0 0 12px;
  font-size: 20px;
}

.shop-link {
  display: block;
  box-sizing: content-box;
  padding: 15px 28px;
  background-color: #b59f5b;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-family: OpenSansBold, sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.shop-link:hover {
  background-color: #7c6520;
}



/*------ footer ------*/

.footer {
  width: 1170px;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;

  padding-bottom: 40px;
}

.articles-footer {
  background-color: #f4f7f6;
  text-align: center;
}

.articles-socials {
  padding-top: 30px;
  padding-bottom: 30px;
}

.socials {
  list-style: none;
  padding: 0;
  margin: 0;
}

.socials-item {
  display: inline-block;
}

.socials-item:nth-child(1n + 2) {
  margin-left: 23px;
}

.socials-link {
  display: block;
  width: 20px;
  height: 20px;

  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.link-dribbble {
  background-image: url(svg/001-dribbble.svg);
}

.link-pinterest {
  background-image: url(svg/001-pinterest.svg);
}

.link-tumblr {
  background-image: url(svg/003-tumblr.svg);
}

.socials-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.articles-footer-text {
  font-family: OpenSansBold, sans-serif;
  font-size: 12px;
  line-height: 3.33;

  text-align: center;
  margin-top: 55px;
  margin-left: 12px;
}

.articles-footer-link {
  text-decoration: none;
  color: #999999;
}

.articles-footer-link:hover {
  color: #0f0d0e;
}

/*popup*/

.popup {
  visibility: hidden;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;

  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 2;
}

.popup:before {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.8;
  z-index: -1;
}

.popup-container {
  max-width: 390px;
  width: 90%;
  margin: auto;
  padding: 47px 27px 54px 27px;
  background-color: #ffffff;
  position: relative;
}

.popup-close {
  background-image: url(svg/form-x.svg);
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  top: -27px;
  right: 1px;
  width: 20px;
  height: 20px;
  border: none;
}

.button-label {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.feedback-title {
  margin-top: -6px;
  margin-left: 5px;
  font-family: OpenSansBold, sans-serif;
  font-size: 20px;
  line-height: 2.08;
  color: #0f0d0e;
  text-transform: uppercase;
  text-align: center;
  cursor: default;
}

.feedback-title:after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 66px;
  height: 3px;
  background-color: #b3a168;
}

.feedback-column {
  margin-top: 24px;
}

.feedback-question {
  cursor: default;
}

.popup-radio-answer {
  cursor: pointer;
}

.feedback-question,
.popup-radio-answer {
  display: inline-block;
  margin-left: 3px;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: normal;
  color: #0f0d0e;
}

.feedback-column-mailing {
  margin-top: 28px;
}

.search-field,
.email-field,
.frequency-field,
.request-field {
  display: block;
  margin-top: 2px;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 10px 22px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: normal;
  background-color: #f4f7f6;
  border-style: none;
}

.frequency-field:focus {
  outline: solid 2px #b59f5b;
}

.request-field-content {
  min-height: 130px;
  padding: 13px 12px 12px 25px;
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  resize: none;
}

.request-field-content:focus {
  outline: solid 2px #b59f5b;
}

textarea {
  max-height: 200px;
  min-height: 100px;
  min-width: 100%;
  max-width: 100%;
}

select {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  padding-left: 10px;
  padding-right: 25px;
  margin: 0;
  border: none;
  background-color: #f4f7f6;
  background-image: url(svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 10px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.radio-feedback {
  display: flex;
}

.feedback:nth-child(1n + 2) {
  margin-left: 10px;
}

.popup-radio-answer::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-image: url(svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px;
  margin-right: 3px;
}

.popup-radio-group:checked ~ .popup-radio-answer::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-image: url(svg/form-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px;
  margin-right: 3px;
}

.popup-radio-group {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button-send {
  box-sizing: border-box;
  margin-top: 0;
  top: 0;
  right: 0;
  height: 49px;
  width: 100%;
  border: none;
  background-color: #b19f64;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.button-send:hover {
  background-color: #7c6520;
}

.sign-up-button-label {
  font-size: 13px;
}

/*Медиа*/

/*Планшет*/
@media (min-width: 641px) and (max-width: 1199px) {
  .header {
    background-image: url(img/banner-bg-tablet.jpg);
    padding-top: 2.9rem;
    padding-bottom: 7.3rem;
  }

  .header-container {
    width: 91%;
    margin: auto;
    align-items: center;
  }

  .header-logo {
    width: 48%;
  }

  .header-menu-burger {
    display: block;
    width: 1em;
    height: 0.9em;
    left: 1px;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 22px;
    position: relative;
    text-indent: -9999px;
  }

  .header-menu-burger::before {
    top: 0;
  }

  .header-menu-burger::after {
    bottom: 0;
  }

  .header-menu-burger::before,
  .header-menu-burger::after {
    content: "";
    width: 100%;
    height: 15%;
    background-color: #ffffff;
    position: absolute;
    left: 0;
  }

  .header-menu-burger-label {
    width: 100%;
    height: 15%;
    margin-top: -0.05em;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
  }

  .header-menu-list {
    display: none;
  }

  .header-title {
    font-size: 40px;
    line-height: 1.37;
    width: 84%;
    margin-top: 5.3rem;
  }

  .page {
    margin-top: 36px;
    margin-bottom: 64px;
  }

  .trends {
    margin-bottom: 50px;
  }

  .trends-titles h2 {
    font-size: 18px;
  }

  .trends-title {
    margin-top: 10px;
    margin-bottom: 19px;
  }

  .trends-wrapper {
    flex-wrap: wrap;
  }

  .trend-item {
    width: calc((100% - 0.7%) / 2);
    margin-bottom: 0.3%;
    min-height: 248px;
  }

  .trend-item:nth-child(1n + 2) {
    margin-right: 0.2%;
  }

  .article-tag {
    margin-right: 13px;
  }

  .article-title {
    font-size: 18px;
  }

  .trend-item-text {
    padding: 7% 2% 9% 9%;
  }

  .main-aside {
    width: 91%;
    margin: 50px 0 0 35px;
  }

  .main {
    width: calc(100% - 272px);
  }

  .main-posts {
    width: 100%;
  }

  .main-post {
    flex-direction: column;
    margin-left: 0;
  }

  .main-post:not(:last-child) {
    border-bottom: solid 3px #eeeeee;
  }

  .main-post:nth-child(1n + 2) {
    margin-top: 40px;
  }

  .main-post-content {
    margin-top: 15px;
    padding-bottom: 20px;
    margin-left: 0;
    line-height: 1.4;
  }

  .main-post-text {
    line-height: 1.6;
  }

  .main-post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main-post-title-link {
    font-size: 17px;
  }

  .main-post-text {
    margin-top: 26px;
  }

  .aside-sidebar {
    width: 272px;
    margin-left: 35px;
  }

   .products-title {
    margin-top: 33px;
  }

  .products-titles h2 {
    font-size: 18px;
  }

  .products-wrapper {
    flex-wrap: wrap;
  }

  .product {
    width: 46.2%;
    margin-left: 2.5%;
    margin-bottom: 3.6%;
  }

  .product:nth-child(1n + 2) {
    margin-right: 2.5%;
  }

  .product-description-title {
    font-size: 17px;
  }

  .footer {
    width: 91%;
    margin-top: -5.2%;
  }

  .articles-footer-text {
    margin-top: 31px;
  }

  .popup-close {
    top: -37px;
    right: 1px;
    width: 27px;
    height: 27px;
  }

  .feedback-title {
    font-size: 18px;
  }

  .feedback-title:after {
    margin-top: 5px;
  }

  .feedback-column {
    margin-top: 23px;
  }

  .popup-radio-answer {
    font-size: 15px;
    margin-left: 4px;
  }

  .radio-feedback {
    margin-top: 2px;
  }

  .feedback:nth-child(1n + 2) {
    margin-left: 24px;
  }

  .popup-radio-answer::before {
    width: 24px;
    height: 24px;
    background-size: 24px;
  }

  .popup-radio-group:checked ~ .popup-radio-answer::before {
    width: 24px;
    height: 24px;
    background-size: 24px;
  }

  .request-field {
    margin-top: 6px;
  }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
  .trend-item {
    position: relative;
    width: calc(25% - 3px);
    margin-right: 3px;
    margin-bottom: 3px;
    background-color: #eff6f1;
  }
  
  .trend-item:last-child {
    margin-right: 0;
  }
}

/*телефон*/

@media (max-width: 640px) {
  .header {
    background-image: url(img/banner-mobile.jpg);
    padding-top: 2rem;
    padding-bottom: 13.1rem;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: auto;
  }

  .header-logo {
    width: 269px;
    margin-top: 0;

    order: 1;
  }

  .header-menu {
    align-self: flex-end;
  }

  .header-menu-burger {
    display: block;
    margin-bottom: 172px;
    width: 1em;
    height: 0.9em;
    right: 7px;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 22px;
    position: relative;
    text-indent: -9999px;
  }

  .header-menu-burger::before {
    top: 0;
  }

  .header-menu-burger::after {
    bottom: 0;
  }

  .header-menu-burger::before,
  .header-menu-burger::after {
    content: "";
    width: 100%;
    height: 15%;
    background-color: #ffffff;
    position: absolute;
    left: 0;
  }

  .header-menu-burger-label {
    width: 100%;
    height: 15%;
    margin-top: -0.07em;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
  }

  .header-menu-list {
    display: none;
  }

  .header-title {
    font-size: 26px;
    line-height: 1.43;
    width: 96%;
    padding-top: 10px;
    margin-top: 1.6rem;
  }

  .page {
    margin-top: 0;
    margin-bottom: 0;
  }

  .trends {
    margin-bottom: 45px;
  }

  .trends-titles h2 {
    font-size: 16px;
  }

  .trends-title {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 33px;
    margin-bottom: 23px;
    margin-left: 0;
  }

  .trends-wrapper {
    flex-direction: column;
  }

  .trend-item {
    width: 99.5%;
    min-height: 230px;
    margin-top: 0.6%;
    margin-bottom: 0.3%;
  }

  .article-title {
    font-size: 16px;
    line-height: 1.3;
    margin-top: -8px;
    margin-left: 4px;
    margin-bottom: -4px;
  }

  .article-tag {
    font-size: 14px;
    margin-right: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
  }

  .trend-item-text {
    padding: 6% 2% 9% 3%;
  }

    .main-aside {
    flex-direction: column;
    margin: 45px 15px 0;
    width: 92%;
  }

  .main-posts {
    width: 100%;
  }

  .main-post {
    flex-direction: column;
    border-bottom: solid 3px #eeeeee;
  }

  .main-post:nth-child(1n + 2) {
    margin-top: 34px;
  }

  .main-post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main-post-tags {
    margin-bottom: 6px;
  }

  body .main-post-title {
    line-height: 1.2;
  }

  .main-post-title-link {
    font-size: 16px;
  }

  .main-post-date-author {
    margin-top: 18px;
    margin-bottom: 13px;
  }

  .main-post-date {
    margin-right: 12px;
  }

  .main-post-text {
    margin-top: 0;
    font-size: 14px;
    line-height: 1.5;
  }

  .main-post-text p:nth-child(1n + 2) {
    margin-top: 4px;
  }

  .main-post-content {
    margin-top: 15px;
    margin-left: -1px;
    padding-bottom: 20px;
  }

  .aside-sidebar {
    margin-top: 46px;
    width: 100%;
    margin-left: 0;
  }

  .aside-title-posts {
    margin-top: -14px;
    margin-left: 0;
    font-size: 16px;
  }

  .aside-title-subscription {
    font-size: 16px;
    margin-top: -11px;
    margin-bottom: 29px;
  }

  .aside-title-tags {
    font-size: 16px;
    margin-left: -3px;
    margin-top: -10px;
  }

  .aside-title-themes {
    font-size: 16px;
    margin-left: -3px;
    margin-top: -13px;
    margin-bottom: 29px;
  }

  .aside-post {
    margin-bottom: 20px;
  }

  .subscription,
  .tags,
  .themes {
    margin-top: 45px;
  }

  .products-title {
    margin-top: 34px;
    margin-bottom: 11px;
  }

  .products-titles h2 {
    font-size: 16px;
  }

  .products-wrapper {
    flex-wrap: wrap;
    margin-bottom: 61px;
  }

  .product {
    width: 100%;
    margin-top: 20px;
  }

  .product:nth-child(1n + 2) {
    margin-top: 27px;
  }

  .product-image {
    margin-left: auto;
    margin-right: auto;
  }

  .product-description-wrapper {
    padding: 21px 21px 21px 17px;
  }

  .product-description-title {
    font-size: 17px;
  }

  .footer {
    width: 91%;
    margin-top: -5.2%;
  }

  .articles-footer-text {
    margin-top: 31px;
  }

    .popup-container {
    width: 93%;
    padding: 50px 27px 27px 27px;
  }

  .popup-close {
    top: -30px;
    right: 0;
    width: 22px;
    height: 22px;
  }

  .feedback-title {
    margin-top: -28px;
    margin-left: 2px;
    font-size: 16px;
  }

  .feedback-title:after {
    margin-top: 3px;
  }

  .feedback-column {
    margin-top: 23px;
  }

  .feedback-question,
  .popup-radio-answer {
    margin-left: -1px;
  }

  .search-field,
  .email-field,
  .frequency-field,
  .request-field {
    padding: 10px 17px;
  }

  .popup-radio-answer {
    font-size: 15px;
    margin-left: 4px;
  }

  select {
    background-position: right 13px center;
  }

  .radio-feedback {
    margin-top: 6px;
    margin-left: -8px;
  }

  .feedback:nth-child(1n + 2) {
    margin-left: 29px;
  }

  .popup-radio-answer::before {
    width: 24px;
    height: 24px;
    background-size: 24px;
  }

  .popup-radio-group:checked ~ .popup-radio-answer::before {
    width: 24px;
    height: 24px;

    background-size: 24px;
  }

  .request-field {
    margin-top: 0;
  }

  .request-field-content {
    padding: 16px 12px 12px 22px;
  }

  .button-send {
    margin-top: 6px;
  }

  .sign-up-button-label {
    font-size: 14px;
  }

}

@media (max-width: 640px) and (orientation: landscape) {
  .trends-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .trend-item {
    width: 49%;
    margin: 0.5%;
  }

  .trend-item:nth-child(even) {
    margin-right: 0;
  }

  .trend-item:nth-child(odd) {
    margin-left: 0;
  }
}

@media (min-width: 641px) {
  .product-description-wrapper {
    flex-grow: 1;
  }
}
